html {
  position: relative;
  min-height: 100%;

}

body{
margin-bottom: 60px;
}

h1,h2,h3,h4,h5,h6,p {
 
}

h1 { font-size: 4em; }

h2 { font-size: 3em; }

h3 { font-size: 2em; }

h4 { font-size: 1em; }

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

#navBar {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
 
.container-fluid {
	width:70%;
}

#cuadroProducto{
	margin:10px;
	padding:0px;
}

#infoCuadroProducto{
	position: absolute;
	right: 0;
	top: 0;
	z-index: 100;
	width:100%;
	height:100%;
	opacity: 0;
	background: rgba(0,0,0,0.8);
	color:white;
	line-height: 2.45;
}

#infoCuadroProducto h1,h2,h3{
	line-height: 1.45;
}

#infoCuadroProducto:hover{
	opacity: 1;
	-webkit-transition: all 300ms;
	-moz-transition: all 300ms;
	transition: all 300ms;
	-webkit-transition-delay: 100ms;
	-moz-transition-delay: 100ms;
	transition-delay: 100ms;
	imagenCuadroproducto.opacity:0;

}



#imagenCuadroproducto{
	width:100%;

}

#botonComprarCuadroProducto{
	clear:none;
	float:right;
}


.row-centered {
    text-align:center;
}

.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}
.col-fixed {
    /* custom width */
    width:320px;
}
.col-min {
    /* custom min width */
    min-width:320px;
}
.col-max {
    /* custom max width */
    max-width:320px;
}

.wrapper {
  position: relative;
  z-index: 90;
}

.ribbon-wrapper-green {
  width: 85px;
  height: 88px;
  overflow: hidden;
  position: absolute;
  top: -3px;
  right: -3px;
}

.ribbon-green {
  font: bold 15px Sans-Serif;
  color: #333;
  text-align: center;
  text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
  -webkit-transform: rotate(45deg);
  -moz-transform:    rotate(45deg);
  -ms-transform:     rotate(45deg);
  -o-transform:      rotate(45deg);
  position: relative;
  padding: 7px 0;
  left: -5px;
  top: 15px;
  width: 120px;
  background-color: #BFDC7A;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#BFDC7A), to(#8EBF45)); 
  background-image: -webkit-linear-gradient(top, #BFDC7A, #8EBF45); 
  background-image:    -moz-linear-gradient(top, #BFDC7A, #8EBF45); 
  background-image:     -ms-linear-gradient(top, #BFDC7A, #8EBF45); 
  background-image:      -o-linear-gradient(top, #BFDC7A, #8EBF45); 
  color: #6a6340;
  -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
  -moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);
  box-shadow:         0px 0px 3px rgba(0,0,0,0.3);
}

.ribbon-green:before, .ribbon-green:after {
  content: "";
  border-top:   3px solid #6e8900;   
  border-left:  3px solid transparent;
  border-right: 3px solid transparent;
  position:absolute;
  bottom: -3px;
}

.ribbon-green:before {
  left: 0;
}
.ribbon-green:after {
  right: 0;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

#containerProducto{
  margin:0px;
  width:100%;
  padding:20px;
}

#imagenProducto{
  margin:0px;
  clear:none;
  width:100%;
  float:left;
}

#infoProducto{
  margin:0px;
  clear:none;
  width:100%;
  float:right;
}

#thumbsProducto{
  margin:0px;
  clear:none;
  width:100%;
  float:right;
}

#botonComprarProducto{
  margin:0px;
  clear:none;
  width:100%;
  float:right;
}

#imagenCuadroproducto2{
  width:100%;
}

#thumbCuadroproducto{
  width:20%;
  display:inline-block;
  margin:10px;

}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

a:hover{
  font-style: normal;
  text-decoration: none;
}